.git
.idea
.vscode
**/.env
**/bin
**/target
!api-gateway/target/
!api-gateway/target/*.jar
!auth-service/target/
!auth-service/target/*.jar
!companyservice/target/
!companyservice/target/*.jar
!eureka-server/target/
!eureka-server/target/*.jar
!logistics-service/target/
!logistics-service/target/*.jar
!notification/target/
!notification/target/*.jar
!order-service/target/
!order-service/target/*.jar
!user-service/target/
!user-service/target/*.jar
**/*.iml
logs
**/logs
